@font-face {
  font-family: 'Iosevka Nerd';
  src: url('/fonts/iosevka_nerd_light.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('/fonts/inter_tight.ttf') format('truetype');
  font-style: normal;
}

body {
    margin: 0;
    font-family: 'Inter Tight', sans-serif;
    background-color: #101010;
    color: #D0D0D0;
    text-shadow: 3pt 5pt 8pt #000000;
}

header {
    background-color: #141414;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: 'Inter Tight', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #D0D0D8;
}

nav {
    width: 250px;
    position: fixed;
    top: 60px;
    bottom: 0;
    overflow-y: auto;
    background-color: #121212;
    padding: 1rem;
}

nav a {
    display: block;
    color: #CCCCCC;
    text-decoration: none;
    margin: 0.5rem 0;
}

nav a:hover {
    color: white;
}

main {
    margin-left: 270px;
    padding: 2rem;
}

h1,
h2,
h3 {
    font-weight: bold;
    color: white;
}

pre {
    background-color: #141414;
    padding: 1rem;
    border-radius: 2pt;
    overflow-x: auto;
}

.inline-code {
    background-color: #141414;
    padding: 2pt;
    border-radius: 2pt;
}

code {
    font-family: 'Iosevka Nerd', monospace;
    color: whitesmoke;
}

a {
    color: #D0D0FF;
    text-decoration: none;
}

a:hover {
    color: white;
}
